.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.login form{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}