.container_mascotas{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery_mascotas{
    width: 97%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 40px

    

}

.title_pets , .title_pets_black{
    width: 60%;
}



body.dark .title_pets_black{
    display:block;
  }
  
  .title_pets_black{
    display:none;
  }

  .title_pets{
    display:block;
  }

  body.dark .title_pets{
    display:none;
  }


  @media (max-width: 580px) {

    .title_pets_black{
      width: 90%;}

    .title_pets{
      width: 90%;}





  }