header {
  background: rgb(254, 255, 254);
  background: linear-gradient(
    0deg,
    rgba(254, 255, 254, 1) 17%,
    rgba(26, 43, 99, 1) 93%
  );
}

.logo_noUser{
  width: 100%;
  height: 100%;
  display: none;
}
.logo_noUser img{
  height: 40vh;
}

.welcome{
  text-align: center;
  font-weight: bolder;
  color: #faa4e0;
  width: 100%;

}


/* ---------DARK MODE --------------- */



body.dark {
  background: #0e1e40;
}

li{
  display:flex;
  justify-content: center;
  align-items: center;
}


body.dark nav a {
  color: #C8C8C8;
}

body.dark nav a:hover {
  color: #FEFEFE;
}


body.dark header nav {
  background: rgba(26,43,99,1);
  background: linear-gradient(0deg,rgba(26,43,99,1) 5%,rgba(254,255,254,1)  97%);
    
}

.switch {
  background: #343D5B;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
  margin-left: 40px;
  height: 38px;
}

.switch:after {
  content: "";
  display: block;
  width: 37px;
  height: 37px;
  position: absolute;
  background: #F1F1F1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.switch.active {
  background: #faa4e0;
  color: #000;
}

.switch.active::after {
  right: 0;
  left: unset;
}

.switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff;
}


/* ---------------------------------- */


.nav {
  display: flex;
  align-items: center;
  justify-content:space-between;

  font-family: Lato, sans-serif;
  height: 19vh;
  padding: 25px 5%;
  color: #fff;
}

.logo_noUser{
  display:none
}

.container_imagen_logout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.container_imagen_logout div {
  width: 60%;
}

header .control {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 30px;
}

.container_image_logo_header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-left: 10px;
}

.nav-logo {
  color: #fff;
  text-decoration: none;
  user-select: none;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
}
.logo_nav {
  width: 19vh;
}
.logo_nav2 {
  width: 12%;
  opacity: 0.8;
}

.button_home {
  width: 100%;
}
.nav-links a {
  color: #192b41;
  font-weight: bolder;
  text-decoration: none;
  padding: 30px 30px;
  border-radius: 10px;

}



.sign-in-icon {
  display: inline-block;
  margin-right: 0.8em;
}

header .control {
  width: 100%;
  display: flex;
  align-items: center;

}

header .control img {
  border-radius: 50%;
  width: 70%;

}

.image_control{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content:flex-start;
  height: 19vh;
  padding: 20px 0;
  font-size: 20px;
  padding-left: 3rem;
}



.main-nav ul {
  display: flex;
}

.main-nav ul li {
  padding: 30px;
}

.main-nav ul li a {
  padding-bottom: 2px;
  color: white;
}

.main-nav ul li a:hover {
  border-bottom: 2px solid #262626;
}

.main-nav ul.main-menu {
  /* flex: 1; */
  margin-left: 20px;
}

.menu-btn {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 2;
  display: none;
}

.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #262626;
  color: #fff;
  font-size: 15px;
}

.btn:hover {
  opacity: 0.9;
}

.dark {
  color: #fff;
}

.dark .btn {
  background: #f4f4f4;
  color: #333;
}


@media (max-width: 913px) {

  .logo_noUser{
    
    display: block;
    width: 60%;
    height: 70%;
    padding: 0;
    margin:0
  }

  .logo_noUser img{
    
    
    width: 60%;
    height: 100%;
  
  }
  .bars__menu {
    width: 10%;
    margin-top: 20px;
  }
  header .control {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 440px;
    margin: 0px;
    margin-top: 5vh;
    text-align: center;
    
    border-radius: 30px;
    background: rgba(254, 255, 254, 0.471);
    background: linear-gradient(
      0deg,
      rgba(254, 255, 254, 0.432) 17%,
      rgb(21, 34, 78) 93%
    );
    width: 100%;
  }

  .container_imagen_logout {
    width: 60%;
  
  }
  .container_imagen_logout div .image_control_image {
    width: 100%;
    height: 100%;
  }
  .container_imagen_logout div {
    margin: 10px;
  }
  header .control p {
    color: whitesmoke;
    font-weight: bolder;
    margin:20px;
  }
  header .control button {
    width: 80%;
    padding: 20px;
  }

  .main-menu {
    background: rgb(254, 255, 254);
    background: linear-gradient(
      0deg,
      rgb(254, 255, 254) 17%,
      rgb(21, 34, 78) 93%
    );
  }

  .menu-btn {
    display: block;
    color: white;
  }

  .menu-btn:hover {
    opacity: 0.5;
  }

  .main-nav {
    padding-left: 0;
  }
  .main-nav ul.right-menu {
    margin-right: 50px;
  }

  .main-nav ul.main-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-right: #ccc 1px solid;
    padding: 50px 80px 50px 80px;
    transform: translateX(-950px);
    transition: transform 0.5s ease-in-out;
  }

  .main-nav ul.main-menu li {
    padding: 18px;
    text-align: center;
    font-size: 16px;
    transition: all 300ms ease-in-out;
  }

  .main-nav ul.main-menu li:hover {
    background-color: rgb(21, 34, 78);
    transition: all 300ms ease-in-out;
  }

  .main-nav ul.main-menu li:last-child {
    border-bottom: 0;
  }

  .main-nav ul.main-menu.show {
    transform: translateX(-20px);
  }

  .links .links-inner {
    grid-template-columns: repeat(2, 1fr);
  }

  .bars__menu {
    width: 8px;
    height: 8px;
    margin-right: 10px;
    margin-top: 40px;

    transform: translate(-50%, -50%) scale(6);
    cursor: pointer;
  }

  .bars__menu span {
    display: block;
    width: 100%;
    height: 1.5px;
    background: #ffffff;
    margin-top: 2px;
    transform-origin: 0px 100%;
    transition: all 300ms;
  }

  .activeline1__bars-menu {
    transform: rotate(45deg) translate(1.2px, 1px);
  }

  .activeline2__bars-menu {
    opacity: 0;
    margin-left: -30px;
  }

  .activeline3__bars-menu {
    transform: rotate(-45deg) translate(0.7px, 1px);
  }

 
}

@media (max-width: 768px) {
  .welcome{
    margin-top: 30px;
    
  }


  header .control img {
    width: 70%;
  }
  header .control {
    justify-content: flex-start;

  }

  header .control button{
    margin-top:1rem;
  }

  .bars__menu{
    margin-top: 60px;
  }

  }    


@media (max-width: 579px) {
  .welcome{
    margin-top: 30px;
    
  }
  header .control img {
    padding: Opx;
    width: 110%;

    
  }
  header .control {
    justify-content: flex-start;

  }

  header .control button{
    margin-top:1rem;
  }

  .bars__menu{
    margin-top: 60px;
  }


  .control .logo_noUser img{
    width:  50vw;
    
  }

  header .control {
    max-height: 55vh;
  }



}

@media (max-width: 500px) {
  .main-nav ul.main-menu {
    padding: 50px 30px 50px 30px;
  }

  header .control {
    max-height: 47vh;
  }

  .bars__menu {
    width: 8px;
    height: 8px;
    margin-right: 10px;
    margin-top: 55px;}

    .switch {
      background: #343D5B;
      border-radius: 1000px;
      border: none;
      position: relative;
      cursor: pointer;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      outline: none;
      margin-left: 18px;
    }

    .switch:after {
      
      width: 35px;
      height: 35px;
      position: absolute;
      background: #F1F1F1;
      top: 0;
      left: 0;
      right: unset;
      border-radius: 100px;
      -webkit-transition: .3s ease all;
      transition: .3s ease all;
      -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
              box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    }
    

    
    .switch.active::after {
      right: 0;
      left: unset;
    }
    
    .switch span {
      width: 20px;
      height: 21px;
      line-height: 25px;
      display: block;
      background: none;
      color: #fff;
    }

    body.dark .button_logout_control{
      background-color: pink;
    }


      .welcome{
    margin-top: 30px;
    
  }
  header .control {
    justify-content: flex-start;

  }

  header .control button{
    margin-top:1rem;
  }
}

.container_imagen_logout div .image_control_image {
  width: 120%;
  height: 120%;
}

@media (max-width: 395px) {

  .logo_nav {
    width: 19vh;
  }
  .logo_nav2 {
    width: 8%;
    opacity: 0.8;
  }

  .container_imagen_logout div .image_control_image {
  width: 120%;
  height: 120%;
}


}

@media (max-width: 380px) {

  .bars__menu {
    width: 8px;
    height: 8px;
    margin-right: 10px;
    margin-top: 40px;}


    header .control {
      max-height: 49vh;
    }






}


