.logo_nav{
  width: 15%;
}

header{
  background: rgb(254,255,254);
  background: linear-gradient(0deg, rgba(254,255,254,1) 17%, rgba(26,43,99,1) 93%);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  font-family: Lato, sans-serif;
  height: 19vh;
  padding: 25px 5%;
  color: #fff;
}

.container_image_logo_header{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
}


.nav-logo {
  color: #fff;
  text-decoration: none;
  user-select: none;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
}
.logo_nav{
  width: 30%;
}
.logo_nav2{
  width: 12%;
  opacity: 0.8;
}


.button_home{width: 40%;}
.nav-links a {
  color: #192b41;
  font-weight: bolder ;
  text-decoration: none;
  padding: 30px 30px;
  border-radius: 10px;
}

.button_home:hover {
   /* background-size: cover;
  background-image: url(../../public/images/home.gif); */
} 


.sign-in-icon {
  display: inline-block;
  margin-right: 0.8em;
}
