@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
footer{
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items:center;
  background: rgba(26,43,99,1);
background: linear-gradient(0deg,rgba(26,43,99,1) 5%,rgba(254,255,254,1)  97%);
  
}

.comentario{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: white;

  
}
.image_footer{
  width: 50%;
}

section{
  min-height: 71vh;
}

.disqus_thread{
  width: 700px;
  background-color: whitesmoke;
}




img{
  width: 100%;
}
.image_footer{
  width: 35%;
}

li a{
  color: #192b41}


a {
    text-decoration: none;
    color: inherit;
}

body {
  background-color: #fefffe;
  color: #192b41;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  color: #e393c3;
  text-transform: capitalize;
}

button{
  outline: none;
  border: none;
  padding: 0.3rem 1rem;
  background-color: #192b41;
  border-radius: 0.2rem;
  font-weight: bold;
  color:#fffbee
}